// Site Colors
$primary: #F55B44;
$secondary: #F55B44;

$backgroundColor: #ffffff;
$backgroundColorAlt: #f0f0f0;

// Type Colors
$copyColorPrimary: #333333;
$copyColorSecondary: #AEB0B1;

// Styles
$linkColorPrimary: $primary;
$linkColorPrimaryHover: darken($primary, 10%);

@mixin carbon-fiber($size: 4px) {
  background:
    linear-gradient(27deg, #151515 $size, transparent $size) 0 $size,
    linear-gradient(207deg, #151515 $size, transparent $size) (2*$size) 0px,
    linear-gradient(27deg, #222 $size, transparent $size) 0px (2*$size),
    linear-gradient(207deg, #222 $size, transparent $size) (2*$size) $size,
    linear-gradient(90deg, #1b1b1b (2*$size), transparent (2*$size)),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-size: (4*$size) (4*$size);
  background-color: #131313;
}
